# 🐍 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# 📦 Virtual Environment
venv/
ENV/
env/
.venv/

# 🔐 Zmienne środowiskowe
.env

# 🧪 Testy
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# 📚 Dokumentacja
docs/_build/

# 🧠 IDE / edytory
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# 🐘 Systemowe
.DS_Store
Thumbs.db

# 📦 PIP
pip-wheel-metadata/
__pypackages__/